<html>
<body>

<center>
<h2> enter the url </h2>

<form action = "shortened_urls/create", method = "post">
<input type = "text", value = "", name = "original_url"/>
<input type = "submit" value = "Submit">
</form>

</center>
</body>
</html>